@import "common.css";
/*контейнер для хедера*/
.container {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}

.d-flex {
    display: flex;
}

/*разводим контент в противоположные стороны*/
header .d-flex {
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 18px 0;
    background: white;
}

.logo-img {
    width: 155px;
    height: 70px;
}

.logo-img:hover{
    box-shadow: 2px 2px 10px #65687e;
    transition: 0.4s;
}

.nav-links a {
    padding: 4px 17px;
    text-transform: uppercase;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;

}

.nav-links a:hover{
    box-shadow: 2px 2px 3px #36031d;
    text-replace: 0.5s;
}

/*section-1*/
.section-1 {
    text-align: center;
    position: relative;
}

/*делаем картинку блоком и опускаем на 1уровень ниже*/
.bg-img {
    position: absolute;
    display: block;
    z-index: -1;
    width: 100%;
}

.section-1 h1 {
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 105px;
}

.section-1 p {
    padding-bottom: 100px;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.81);
}

.border-1 {
    margin: 28px auto 25px;
    height: 2px;
    background: #FFFFFF;
    width: 80px;
}


/*крестик на грани секций*/
.close-icon {
    position: absolute;
    display: block;
    width: 52px;
    height: 52px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -26px;
}

/*секуция номер2*/
.section-2 {
    background: #FEFEC9;

}

.section-2 {
    padding: 60px 0;

}

.sec2p {

    font-size: 18px;
    line-height: 25px;
    color: #47474F;
    margin-bottom: 53px;
}

.button {
    padding: 13px 34px 20px;
    border: 1px solid #47474F;
    border-bottom-width: 2px;

}

.button:hover{
    box-shadow: 2px 2px 10px #e78639;
    transition: 0.5s;
}

    /*секция номер3*/
.section-3 {
    padding: 69px 0;
}

.section-3 h1 {
    margin-top: 10px;
}
.wrapper-card{
    display: flex;
    justify-content: center;
    align-items: center;
}



.graphic-cards {
    margin: 0 10px;


}

.graphic-cards:hover{
    box-shadow: 4px 4px 10px #65687e;
    text-replace: 0.5s;
}

.graphicWrapper {
    height: 219px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;

}

.caption-for-graphics {
    margin-top: 38px;
    font-size: 16px;
}

.graphic-p {
    font-size: 15px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 5px;

    text-align: center;
    color: #333333;
}

/* секция номер 4*/
.section-4 {
    padding: 69px 0;
    background: #F5F5F5;
}
.section-4 h1{
    margin-top: 10px;
}

.wrapper-photo-card {

    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.photo-cards{
    max-width: 300px;
    margin: 0 10px 20px;
    background: #FFFFFF;
    font-size: 0;


}

.photo-cards:hover{
    box-shadow: 0px 0px 25px #041949;
    transition: 0.5s;

}

.photo-cards h3 {

    font-size: 16px;
}


.photo-cards p {
    font-size: 14px;
    margin-top: 4px;
    /*margin-bottom: 21px;*/

}

.text-photo {
    padding-top: 19px;
    padding-bottom: 21px;


}


/*заголовок к карточкам*/
.team {
    padding: 69px 0;
}

.team h1 {
    width: 129px;
    height: 36px;
    margin: 10px auto 0;

}

.border {
    margin: 28px auto 43px;
    height: 2px;
    width: 80px;
    background: rgba(0, 0, 0, 0.09);
}

.wrapper-team {
    display: flex;
    justify-content: center;
    align-items: center;

}


.card{
    max-width: 240px;
    padding: 0 10px;

}
.card:hover{
    box-shadow: 0px 0px 20px #36031d;
    transition: 0.5s;
}


.card h3 {
    font-size: 15px;
    margin-top: 20px;

}


.team-p {
    /*width: 200px;*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    margin-top: 6px;
    font-style: normal;
    font-weight: 400;

}

.wrapper-social {
    display: flex;
    justify-content: center;

    /*max-width: 220px;*/
    margin-top: 18px;
    padding: 11px 0 10px;
    /*margin-bottom: 89px;*/


}
.social-icon:hover{
    box-shadow:2px 2px 5px #d700ff;
    transition: 0.5s;
}

.social-icon {
    background: #F5F5F5;
    margin: 0 3px;
    width: 29px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.social-icon-img {
    width: 14px;
    height: 14px;
}

/*секция 6*/
.section-6{
    padding: 69px 0;
    background: #F5F5F5;
}
.wrapper-section-6{
    display: flex;
    justify-content: center;
    align-items: center;
}
.part-of-section{
    max-width: 446px;
    margin-top: 65px;
}
.part-of-section p{
    padding: 0 54px 24px;
    font-size: 26px;
    line-height: 33px;

    text-align: center;

    color: #333333;
}

.border-2 {
    margin: 65px auto 0;
    height: 215px;
    background: rgba(0, 0, 0, 0.04);
    width: 2px;
}
.part-of-section h3{
    font-size: 14px;
    color: #ABABAB;
    margin-top: 10px;
}

/*секция 7*/

.section-7 h1{
    padding-top: 79px;
}
.bg-img-2 {
    position: absolute;
    display: block;
    z-index: -1;
    width: 100%;

}


.section-7-card{

    width: 100%;
    max-width: 313px;
    text-align: center;
    padding-bottom: 69px;
    padding-top: 20px;

}
.first-class{
    /*margin-top: -27px;*/
}
.section-7-card h3{
    margin-top: 26px;
    margin-bottom: 21px;
}

.wrapper-section-7{
    display: flex;
    align-items: baseline;
    justify-content: center;
    /*align-items: stretch;*/
}


.wrapper-social-icon{
    text-align: left;
    margin-left: 34%;
}

.mini-social-block{
    margin-bottom: 11px;

}
span{
    font-size: 17px;
    line-height: 20px;
}
.img-icon{
    margin-right: 9px;
}


/*footer*/
footer{
    padding:69px 0 ;
    background: #000000;

}
.wrapper-form{
    display: flex;
}